{% extends 'base.html' %}

{% block main %}

{% if logo_design1 or logo_design %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Logo Design</h3>
            <h3>Behind every proffessional logo there is a story.<br>
            <small>We design logo that projects the right brand image
            and communicate the right message.</small></h3>
            
        </div>
    </div>
</div>
<div class="container-fluid">
    {% block services %}{% endblock services %}


</div>
{% endif %}

{% if web_design %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Web Design</h3>
            <h3>Designs that do not discrimate base on platform </h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if mobile_app_design %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Mobile App Design</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if print_design %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Print Design</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if corperate_branding %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Corperate Branding</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if web_development %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Web Development</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if mobile_app_development %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Mobile App Development</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if ecommerce_development %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>E-Commerce Development</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if enterprise_software %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Enterprise Software Development</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if cloud_deployment %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Cloud Deployment</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if database_migration %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Database Migration</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if ecommerce %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>E-Commerce</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if churches %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Churches</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if corperate %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Corperate</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if small_businessess %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Small Businesses</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if education %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Education</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if government %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Government</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if ngos %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>NGO</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if startups %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Startups</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}



<div class="container-fluid">
    {% if logo_design %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>
            At BrandID we don just design logos to to look beautiful,
            we design log to reflect your business brand promise, values, business
            model, your services, yopur competition and other factors sorrounding
            your business and product.
            We have a team of dedicated logo analyst whose core job is to work with the
            information provided to us in other to produce a logo with the right image
            and message.
            Our detailed questionnaire ask pertinent and important question that provides
            us the right information to design your logo
            Our logos are very professional and affordable, starting from =N=10,000 and we
            deliver based on an agreed timeline. To ensure 100% satisfaction, we give room for
            our customers to review their logos and ask for changes.
            </p>
            <p>How It works</p>
            <ul class="list-inline">
                <li>Complete our questionnaire</li>
                <li>We design base on your answers</li>
                <li>Review the design and ask for changes</li>
                <li>We perfect logo and make it yours</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-5">
            <a class="btn btn-primary btn-lg" href="{% url 'brandid:logo_company' %}" role="button">Let's Design Your Logo</a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-md-push-5">
            <p>Why You should use BrandID</p>
            <ul class="list-unstyled">
                <li>Flexible Pricing <br><small>Our logos
                starts at a very low price</small></li>
                <li>Fast Delivery<br><small>Our logos can be delivered to
                you in hours</small></li>
                <li>Proper Analysis<br><small>We take time to analy</small></li>
                <li>100% Money back guarantee<br><small>If you don't get what you want,
                request for your refund</small></li>
            </ul>
        </div>
    </div>
    
    {% endif %}
    {% if web_design %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Responsive designs are designs that can fit and adjust into any form of devices screen,
            be it smartphone, tablet, mini-tablet and computers of different sizes.
            This can be achieved using modern web design technologies like HTML5, Bootstrap,
            CSS Media Queries, JQuery and Javascript. With huge number of smart phone users,
            we employ mobile first approach in the design of our clients web site. 
            When we complete a project, we carry out thorough testing to ensure that your website
            loads and renders well in all devices and browser type.
            At BrandID we carter for all businesses and organisations, from your personal
            blog to your company or organisation website. Our innovative web design
            helps to realise a visually stunning and practical website and  our client
            business objective.</p>
        </div>
    </div>
    {% endif %}
    
    {% if mobile_app_design %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if print_design %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if corperate_branding %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if web_development %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>
            
            In today's technology-driven world where almost anything and everything can be accessible
            through internet services. Websites are now an integral part part of our lives and now serves
            as a medium through which we can connect to services, transact business and socialise. They
            gives our businesses the necessary empowerment, which it can use to break different barriers
            and reach our target audience irrespective of geographical locations.
            
            For a competent business advantage, it is imperative to develop a powerful and dynamic
            website, and we, at BrandID, provide you with world class web development service
 
            Our web applications are scalable and are built on agile framework and technology. 
            With a team of programmers with average of 4 years, we carter for businesses in a
            variety of domain,  which include and not limited to News and Media, entertainment,
            learning, ticketing services, manufacturing, e-commerce and more. 
            We adhere strictly agile principle throughout the development and deployment process,
            meaning that your will be an active participant throughout the process.
            </p>
        </div>
    </div>
    {% endif %}
    
    {% if mobile_app_development %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>BrandID is your one stop shop for your mobile app development, we committed to
            unleashing our mobile app expertise on our clients projects.
            At BrandID our core focus is to help you drive your business and provide excellent
            service to your customers through stunning and useful mobile apps.
            As a company that is aware of the trend in mobile application technology, we are
            aware that mobile app would continue to dominate our lives activities, let us
            know your idea and work with you on base on current and future trend.
            We have a team of mobile app developer that will transform your wonderful and
            innovative ideas into an exceptional app with advanced functionalities and features
            that your users will love</p>
        </div>
    </div>
    {% endif %}
    
    {% if ecommerce_development %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if enterprise_software %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if cloud_deployment %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if database_migration %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if ecommerce %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if churches %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if corperate %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if small_businessess %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if education %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if government %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if ngos %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if startups %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
{% endblock main %}