{% extends 'base.html' %}

{% block main %}

{% if logo_design %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Logo Design</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if web_design %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Web Design</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if mobile_app_design %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Mobile App Design</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if print_design %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Print Design</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if corperate_branding %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Corperate Branding</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if social_media_branding %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Social Media Branding</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if web_development %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Web Development</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if mobile_app_development %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Mobile App Development</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if ecommerce_development %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>E-Commerce Development</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if enterprise_software %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Enterprise Software Development</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if cloud_deployment %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Cloud Deployment</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if database_migration %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Database Migration</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if ecommerce %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>E-Commerce</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if churches %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Churches</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if corperate %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Corperate</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if small_businessess %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Small Businesses</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if education %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Education</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if government %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Government</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if ngos %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>NGO</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}

{% if startups %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="container-fluid">
            <h3>Startups</h3>
            
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>
{% endif %}



<div class="container-fluid">
    {% if logo_design %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
            <p>How It works</p>
            <ul class="list-inline">
                <li>Give us the detail of your business</li>
                <li>Pay 50% of agreed cost</li>
                <li>Select a logo from the samples made</li>
                <li>We perfect it to your taste</li>
            </ul>
        </div>
    </div>
    {% endif %}
    {% if web_design %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if mobile_app_design %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if print_design %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if corperate_branding %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if corperate_branding %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if web_development %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if mobile_app_development %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if ecommerce_development %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if enterprise_software %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if cloud_deployment %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if database_migration %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if ecommerce %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if churches %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if corperate %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if small_businessess %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if education %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if government %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if ngos %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
    {% if startups %}
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </div>
    </div>
    {% endif %}
    
{% endblock main %}