{% extends 'brand/all_services.html' %}
{% load mybrand %}

{% block services %}
    <div class="container">
        
        {% if company_form %}
        <div class="row">
            <div class="col-md-8 col-md-push-1">
            <p class="form-intro">Please kindly provide us with your contact and tell us about your
            business</p>
            <form class="form-horizontal" action="{% url 'brandid:logo_company' %}" method="POST"
            enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Form Name -->
                {% for field in company_form %}
                {# Standard Code for all the TextInput widgets in this app #}
                {% if field.field.widget|klass == "TextInput" %}
                <div class="fieldWrapper  form-group">
                    <label class="col-md-2 control-label" for="{{ field.id_for_label }}">
                    {{ field.label_tag }}{% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                    <div class="col-md-8 {{ field.required_css_class }}">
                    {% for error in field.errors %}
                    <p id="required">{{ error }}</p>
                    {% endfor %}
                    <input id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                        class="form-control" placeholder="" 
                        type="text">
                        <span class="help-block">{{ field.help_text }}</span>
                    </div>
                </div>
                {% endif %}
                {# Standard Code for all the Textarea widgets in this app #}
                {% if field.field.widget|klass == "Textarea" %}
                <div class=" fieldWrapper form-group">
                  <label class="col-md-2 control-label" for="{{ field.id_for_label }}">{{ field.label_tag }}
                  {% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                  <div class="col-md-8">
                    {% for error in field.errors %}
                    <p id="required">{{ error }}</p>
                    {% endfor %}
                    <textarea class="form-control startup-input" id="textarea {{ field.id_for_label }}"
                    name="{{ field.html_name }}" maxlength="500" onKeyUp="countChar(this.value)">
                    </textarea><span id="charNum"></span>
                    <span class="help-block">{{ field.help_text }}</span>
                  </div>
                </div>
                {% endif %}
                {# Standard Code for all the ClearableFileInput widgets in this app #}
                {% if field.field.widget|klass == "ClearableFileInput" %}
                <!-- File Button --> 
                <div class="fieldWrapper form-group">
                  <label class="col-md-2 control-label" for="{{ field.id_for_label }}">{{ field.label_tag }}
                  {% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                  <div class="col-md-8 upload">
                    {% for error in field.errors %}
                    <p id="required">{{ error }}</p>
                {% endfor %}
                        <input id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                           class="input-file" type="file">
                  </div>
                </div>
                {% endif %}
                <!-- Select Basic -->
                {# Standard Code for all the Email widgets in this app #}
                {% if field.field.widget|klass == "EmailInput" %}
                <div class="fieldWrapper  form-group">
                    <label class="col-md-2 control-label" for="{{ field.id_for_label }}">
                        {{ field.label_tag }}{% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                    <div class="col-md-8">
                    {% for error in field.errors %}
                    <p id="required">{{ error }}</p>
                    {% endfor %}
                    <input id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                        placeholder = "" class="form-control"
                        type="text">
                        <span class="help-block">{{ field.help_text }}</span>
                    </div>
                </div>
                
                {% endif %}
                {# Standard Code for all the Email widgets in this app #}
                {% if field.field.widget|klass == "CheckboxInput" %}
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group fieldWrapper">
                    <label class="col-md-2 control-label" for="{{ field.id_for_label }}">
                    {{ field.label_tag }}{% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                  <div class="col-md-4">
                    <label class="checkbox-inline" for="{{ field.id_for_label }}">
                      <input name="{{ field.html_name }}" id="{{ field.id_for_label }}" value="{{ field.value }}" type="checkbox"></label>
                  </div>
                </div>
                
                {% endif %}
                {# Standard Code for all the URL widgets in this app #}
                {% if field.field.widget|klass == "URLInput" %}
                <div class="fieldWrapper  form-group">
                    <label class="col-md-2 control-label" for="{{ field.id_for_label }}">
                    {{ field.label_tag }}{% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                    <div class="col-md-8">
                    {% for error in field.errors %}
                    <p id="required">{{ error }}</p>
                    {% endfor %}
                    <input id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                        placeholder = "" class="form-control input-lg startup-input"
                        type="text">
                        <span class="help-block">{{ field.help_text }}</span>
                    </div>
                </div>
                {% endif %}
                {% if field.field.widget|klass == "Select" %}
                <div class="fieldWrapper  form-group">
                    <label class="col-md-2 control-label" for="{{ field.id_for_label }}">
                    {{ field.label_tag }}{% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                    <div class="col-md-8">
                    {% for error in field.errors %}
                    <p id="required">{{ error }}</p>
                    {% endfor %}
                    <select id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                        placeholder = "" class="form-control input-lg startup-input"
                        type="text">
                        {% for x, y in field.field.choices %}
                        <option value="{{ x }}">{{ y }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">{{ field.help_text }}</span>
                    </div>
                </div>
                {% endif %} 
                {% endfor %}
                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-2 control-label" for="submit"></label>
                  <div class="col-md-">
                    <button id="submit" name="submit" class="btn-lg btn-info button-account">Submit</button>
                  </div>
                </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
    {% endif %}
    
    {% if project_form %}
    <div class="row">
        <div class="col-md-8 col-md-push-1">
            <p class="form-intro">Please answer the questions below lets know the scope of your work</p>
            <form class="form-horizontal" action="{% url 'brandid:logo_project' %}" method="POST"
            enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Form Name -->
                    {% for field in project_form %}
                    {# Standard Code for all the TextInput widgets in this app #}
                    {% if field.field.widget|klass == "TextInput" %}
                    <div class="fieldWrapper  form-group">
                        <label class="col-md-2 control-label" for="{{ field.id_for_label }}">
                        {{ field.label_tag }}{% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                        <div class="col-md-8 {{ field.required_css_class }}">
                        {% for error in field.errors %}
                        <p id="required">{{ error }}</p>
                        {% endfor %}
                        <input id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                            class="form-control" placeholder="" 
                            type="text">
                            <span class="help-block">{{ field.help_text }}</span>
                        </div>
                    </div>
                    {% endif %}
                    {# Standard Code for all the Textarea widgets in this app #}
                    {% if field.field.widget|klass == "Textarea" %}
                    <div class=" fieldWrapper form-group">
                      <label class="col-md-2 control-label" for="{{ field.id_for_label }}">{{ field.label_tag }}
                      {% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                      <div class="col-md-8">
                        {% for error in field.errors %}
                        <p id="required">{{ error }}</p>
                        {% endfor %}
                        <textarea class="form-control startup-input" id="textarea {{ field.id_for_label }}"
                        name="{{ field.html_name }}" maxlength="500" onKeyUp="countChar(this.value)">
                        </textarea><span id="charNum"></span>
                        <span class="help-block">{{ field.help_text }}</span>
                      </div>
                    </div>
                    {% endif %}
                    {# Standard Code for all the ClearableFileInput widgets in this app #}
                    {% if field.field.widget|klass == "ClearableFileInput" %}
                    <!-- File Button --> 
                    <div class="fieldWrapper form-group">
                      <label class="col-md-2 control-label" for="{{ field.id_for_label }}">{{ field.label_tag }}
                      {% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                      <div class="col-md-8 upload">
                        {% for error in field.errors %}
                        <p id="required">{{ error }}</p>
                    {% endfor %}
                            <input id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                               class="input-file" type="file">
                      </div>
                    </div>
                    {% endif %}
                    <!-- Select Basic -->
                    {# Standard Code for all the Email widgets in this app #}
                    {% if field.field.widget|klass == "EmailInput" %}
                    <div class="fieldWrapper  form-group">
                        <label class="col-md-2 control-label" for="{{ field.id_for_label }}">
                            {{ field.label_tag }}{% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                        <div class="col-md-8">
                        {% for error in field.errors %}
                        <p id="required">{{ error }}</p>
                        {% endfor %}
                        <input id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                            placeholder = "" class="form-control input-lg startup-input"
                            type="text">
                            <span class="help-block">{{ field.help_text }}</span>
                        </div>
                    </div>
                    
                    {% endif %}
                    {# Standard Code for all the Email widgets in this app #}
                    {% if field.field.widget|klass == "CheckboxInput" %}
                    <!-- Multiple Checkboxes (inline) -->
                    <div class="form-group fieldWrapper">
                        <label class="col-md-2 control-label" for="{{ field.id_for_label }}">
                        {{ field.label_tag }}{% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                      <div class="col-md-4">
                        <label class="checkbox-inline" for="{{ field.id_for_label }}">
                          <input name="{{ field.html_name }}" id="{{ field.id_for_label }}" value="{{ field.value }}" type="checkbox"></label>
                      </div>
                    </div>
                    
                    {% endif %}
                    {# Standard Code for all the URL widgets in this app #}
                    {% if field.field.widget|klass == "URLInput" %}
                    <div class="fieldWrapper  form-group">
                        <label class="col-md-2 control-label" for="{{ field.id_for_label }}">
                        {{ field.label_tag }}{% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                        <div class="col-md-8">
                        {% for error in field.errors %}
                        <p id="required">{{ error }}</p>
                        {% endfor %}
                        <input id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                            placeholder = "" class="form-control input-lg startup-input"
                            type="text">
                            <span class="help-block">{{ field.help_text }}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if field.field.widget|klass == "DateInput" %}
                    <div class="fieldWrapper  form-group">
                        <label class="col-md-2 control-label" for="{{ field.id_for_label }}">
                        {{ field.label_tag }}{% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                        <div class="col-md-8">
                        {% for error in field.errors %}
                        <p id="required">{{ error }}</p>
                        {% endfor %}
                        <input id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                            placeholder = "" class="form-control input-lg datepicker"
                            type="date"  data-date-format="mm/dd/yyyy">
                            <span class="help-block">{{ field.help_text }}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if field.field.widget|klass == "Select" %}
                    <div class="fieldWrapper  form-group">
                        <label class="col-md-2 control-label" for="{{ field.id_for_label }}">
                        {{ field.label_tag }}{% if field.field.required %}<span class="asteriks"> *</span>{% endif %}</label>
                        <div class="col-md-8">
                        {% for error in field.errors %}
                        <p id="required">{{ error }}</p>
                        {% endfor %}
                        <select id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                            placeholder = "" class="form-control input-lg startup-input"
                            type="text">
                            {% for x, y in field.field.choices %}
                            <option value="{{ x }}">{{ y }}</option>
                            {% endfor %}
                        </select>
                        <span class="help-block">{{ field.help_text }}</span>
                        </div>
                    </div>
                    {% endif %} 
                    {% endfor %}
                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="submit"></label>
                      <div class="col-md-">
                        <button id="submit" name="submit" class="btn-lg btn-info button-account">Submit</button>
                      </div>
                    </div>
                    </fieldset>
                </form>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock services %}
